
.BodyApp{
    
    background-color: #FFEEEE;
    height: 100vh;
    font-family: 'Codec Cold Trial';
}

.titulo1{
    text-shadow: 1px 1px 5px #fc4f4f4f;
}

.Helvetica{
    font-family: Helvetica rounded;
}

.gigi{
    width: 200px;
}