
.BodyApp{
    padding-top: 60px;
    background-color: #FFEEEE;
    height: 100vh;
    font-family: 'Codec Cold Trial';
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.titulo1{
    text-shadow: 1px 1px 5px #fc4f4f4f;
}

.Helvetica{
    font-family: Helvetica rounded;
}

.gigi{
    width: 200px;
    
}

.meio{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.paragrafo1{
    text-align: justify;
    flex: 0.7;
    margin: 50px;
}

.header-a{
    color: black;
}
