.Footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ce0b1b;
    height: 20px;
}

.padding{
    padding: 3px;
    position: relative;
    font-size: 12px;
    bottom: 1px;
}

.footer-p{
    color: #ffd0d4;
}

.footer-a{
    color: white;
}
