.logo{
    width: 240px;
    margin-left: 10px;
    
}

.menu{
    background-color: white;
    font-family: 'helvetica rounded'
}

.title{
    font-weight: bold;
}

.navbar-brand.color1 {
    color: #e22c50;
    padding: 10px;
}

.navbar-brand.color1:hover {
    color: #f33e62;
    background-color: #fde6ea;
   
    
    transition: background-color 0.4s ease;
}


.Header{
    height: 160px;
    
}

.pos{
    position: relative;
    top: 40px;
}
